.header {
    height: 75px;
}

.top-card {
    max-width: 50%;
    border: 0;
    margin: 0 25px 25px 25px;
}

.bottom-card {
    width: 75%;
}

.info-row {
    width: 100%;
}

#computer-img {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.card-bg {
    background-color: rgb(240, 240, 240);
}